USE [master]
GO
/****** Object:  Database [DBWiki]    Script Date: 22-Apr-20 12:46:28 AM ******/
CREATE DATABASE [DBWiki]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBWiki', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBWiki.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DBWiki_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\DBWiki_log.ldf' , SIZE = 1792KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBWiki].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBWiki]
GO
/****** Object:  Table [dbo].[AccService]    Script Date: 22-Apr-20 12:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccService](
	[idAS] [int] IDENTITY(1,1) NOT NULL,
	[nameAS] [nvarchar](50) NOT NULL,
	[emailAS] [nvarchar](50) NOT NULL,
	[pwdAS] [nvarchar](50) NOT NULL,
	[tokenString] [nvarchar](100) NOT NULL,
	[sttAS] [bit] NOT NULL,
 CONSTRAINT [PK_AccService] PRIMARY KEY CLUSTERED 
(
	[idAS] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Category]    Script Date: 22-Apr-20 12:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[idCate] [int] IDENTITY(1,1) NOT NULL,
	[nameCate] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[idCate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EditInfo]    Script Date: 22-Apr-20 12:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EditInfo](
	[idEI] [int] IDENTITY(1,1) NOT NULL,
	[idInfo] [int] NOT NULL,
	[contentEdit] [nvarchar](max) NULL,
	[dayCreateEI] [datetime] NOT NULL,
	[idUser] [int] NOT NULL,
	[newEI] [bit] NOT NULL,
 CONSTRAINT [PK_EditInfo] PRIMARY KEY CLUSTERED 
(
	[idEI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Information]    Script Date: 22-Apr-20 12:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Information](
	[idInfor] [int] IDENTITY(1,1) NOT NULL,
	[titleInfo] [nvarchar](300) NOT NULL,
	[contentInfo] [nvarchar](max) NOT NULL,
	[dayCreateInfo] [datetime] NOT NULL,
	[idUser] [int] NOT NULL,
	[idCate] [int] NOT NULL,
	[hideInfo] [bit] NOT NULL,
	[newInfo] [bit] NOT NULL,
	[token] [varchar](50) NOT NULL,
	[nameUnsigned] [nvarchar](300) NULL,
 CONSTRAINT [PK_Information] PRIMARY KEY CLUSTERED 
(
	[idInfor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Role]    Script Date: 22-Apr-20 12:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[idR] [int] IDENTITY(1,1) NOT NULL,
	[nameR] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[idR] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[User]    Script Date: 22-Apr-20 12:46:28 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User](
	[idUser] [int] IDENTITY(1,1) NOT NULL,
	[nameUser] [nvarchar](100) NOT NULL,
	[email] [varchar](50) NOT NULL,
	[pwd] [varchar](20) NOT NULL,
	[active] [bit] NOT NULL,
	[idR] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[idUser] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[EditInfo]  WITH CHECK ADD  CONSTRAINT [FK_EditInfo_Information] FOREIGN KEY([idInfo])
REFERENCES [dbo].[Information] ([idInfor])
GO
ALTER TABLE [dbo].[EditInfo] CHECK CONSTRAINT [FK_EditInfo_Information]
GO
ALTER TABLE [dbo].[EditInfo]  WITH CHECK ADD  CONSTRAINT [FK_EditInfo_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[EditInfo] CHECK CONSTRAINT [FK_EditInfo_User]
GO
ALTER TABLE [dbo].[Information]  WITH CHECK ADD  CONSTRAINT [FK_Information_Category] FOREIGN KEY([idCate])
REFERENCES [dbo].[Category] ([idCate])
GO
ALTER TABLE [dbo].[Information] CHECK CONSTRAINT [FK_Information_Category]
GO
ALTER TABLE [dbo].[Information]  WITH CHECK ADD  CONSTRAINT [FK_Information_User] FOREIGN KEY([idUser])
REFERENCES [dbo].[User] ([idUser])
GO
ALTER TABLE [dbo].[Information] CHECK CONSTRAINT [FK_Information_User]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([idR])
REFERENCES [dbo].[Role] ([idR])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
