
@{
    ViewBag.Title = "RegisterService";
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
}


<form action="@Url.Action("CreateAccService")" method="post">
    <div id="getEmail" class="magrinRegister">
        @if (TempData["error"] != null)
        {
            <div id="notify" style="width: 30%">Email đã tồn tại!</div>
        }
        <div class="form-group">
            <label for="">Tên của bạn:</label>
            <input type="text" class="form-control" name="TenNguoiDV" id="nameUsr" required value="@(TempData["name"]??null)">
        </div>
        <div class="form-group">
            <label for="">Email:</label>
            <input type="text" class="form-control" name="MailNguoiDV" id="mailUsr" pattern="[a-z0-9._%+-]+@("@")[a-z0-9.-]+\.[a-z]{2,}$" title="Invalid email" required value="@(TempData["mail"]??null)">
        </div>
        <div class="form-group">
            <label for="">Mật khẩu:</label>
            <input type="password" class="form-control" name="MKNguoiDV" id="pwdRegister" pattern=".{6,}" required title="Six or more characters">
        </div>
        <div class="form-group">
            <label for="">Xác nhận mật khẩu:</label>
            <input type="password" class="form-control" name="" id="rePwdRegister" required>
            <div id="ErrorPwdRegister" style="color: red;display: none;">Bạn nhập không khớp mật khẩu!</div>
        </div>
        <input type="submit" class="btn btn-info" id="btnRegister" value="Đăng kí">
    </div>
</form>

