
@{
    ViewBag.Title = "Information";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<a href="@Url.Action("ListInfoAdmin")" class="btn btn-sm btn-info" style="background-color:#4e73df;font-size:20px;float:right;">
    <i class="fa fa-arrow-right"></i>
</a>

<section class="panel" style="margin-top:55px;">
    <header class="panel-heading">
        Create Information
    </header>
    <form action="@Url.Action("CreateInfoByAdmin")" method="POST">
        <div class="panel-body">
            <div class="position-center">

                <div class="form-group">
                    <label for="">Title Name:</label>
                    <input type="text" class="form-control" name="ChuDeTT" maxlength="200" required>
                </div>
                <div class="form-group">
                    <label for="nameSC">Category:</label>
                    <select name="MaDM" class="form-control input-sm m-bot15" style="width: 50%">
                        @foreach (var item in ((IEnumerable<WebWiki.MyReference.Danhmuc>)TempData["cate"]))
                        {
                            <option value="@item.MaDM">@item.TenDM</option>
                        }
                    </select>
                </div>
                <div style="margin-bottom:10px;">
                    <label>Content:</label>
                    <textarea name="NoidungTT" id="NoidungTT"></textarea>

                </div>

                <input type="submit" name="submit" class="btn btn-info" value="Submit">

            </div>
        </div>
    </form>
</section>
@section scripts{
    <script>CKEDITOR.replace("NoidungTT")</script>
}
@if (TempData["rs"] != null)
{
    <script>
        $(function () {
            $("#msgModal").modal("show");
        });
    </script>
    <div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="margin:auto;">
                <div class="modal-header">
                    <h5 class="modal-title" id="msgModalLabel" style="width:50%; font-size:20px">Notification</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="margin-top: -29px;font-size: 30px;">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" style="color: coral;font-size:18px;">
                    @if (((int)TempData["rs"]) == 0)
                    {
                        <label>Data is too large!</label>
                    }
                </div>
            </div>
        </div>
    </div>
}

