
@{
    ViewBag.Title = "NormalUser";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="table-agile-info">
    <div class="panel panel-default">
        <div class="panel-heading">
            User List
        </div>
        <div class="table-responsive">
            <table class="table table-striped b-t b-light">
                <thead>
                    <tr>
                        <th>User Name</th>
                        <th>Email</th>
                        <td>Active</td>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody style="word-break: break-all;">
                    @foreach (var item in ((IEnumerable<WebWiki.MyReference.NguoiDung>)TempData["user"]))
                    {
                        <tr>
                            <td>@item.TenNguoiDung</td>
                            <td>@item.Mail</td>
                            <td>@(item.KichHoat==true?"Yes":"No")</td>
                            <td>
                                <a href="@Url.Action("ListInfoUser",new { idUser=item.MaNguoiDung})" class="active" ui-toggle-class="">
                                    <i class="fa fa-info-circle text-success text-active"></i>&nbsp; &nbsp;
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

