<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cá cảnh Thanh Thanh</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/")partner.css">
</head>
<body>
    <div id="master">
        <header>
            <div id="title"> &#128025; Tiệm cá cảnh Thanh Thanh &#128033;</div>
            <div id="hihi"> &#128010; Chuyên nhập khẩu các loại cá có 1 không 2 in the world &#128051</div>
        </header>
        <div id="content">
            @RenderBody()
        </div>
        <footer>
            &#9400; Bản quyền của Thanh Thanh &#x1F499;
        </footer>
    </div>
</body>
</html>
